<div id="footer" class="mt-auto text-white bg-dark">
  <div class="container">
    <div class="row gx-5">
      <!-- Acerca de -->
      <div id="footer-about" class="col-md-6 col-sm-6 col-auto">
        <h2 class="text-primary">Acerca de</h2>
        <p class="text-secondary">
          Somos una Organización hispanohablante de programadores sin fines de
          lucro que tiene como fin dar conocimientos sobre la programación en
          general
        </p>
      </div>
      <!-- Explorar -->
      <div class="col-md-3 col-sm-3 col-5">
        <h2 class="text-primary">Explorar</h2>
        <ul class="list-unstyled">
          <li>
            <a class="text-decoration-none text-secondary" href="/">Inicio</a>
          </li>
          <li>
            <a class="text-decoration-none text-secondary" href="/cursos"
              >Cursos</a
            >
          </li>
          <li>
            <a class="text-decoration-none text-secondary" href="/blog">Blog</a>
          </li>
          <li>
            <a class="text-decoration-none text-secondary" href="/contacto"
              >Contacto</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3 col-4">
        <h2 class="text-primary">Social</h2>
        <address>
        <!-- <ul class="list-unstyled">
          <li> -->
            <a
              class="text-decoration-none text-secondary"
              href="https://github.com/Kodetica"
              >GitHub</a
            ><br />
          <!-- </li>
          <li> -->
            <a
              class="text-decoration-none text-secondary"
              href="https://discord.gg/Q3vcJcwDR5"
              >Discord</a
            ><br />
          <!-- </li>
          <li> -->
            <a
              class="text-decoration-none text-secondary"
              href="https://twitter.com/Kodetica"
              >Twitter</a
            ><br />
          <!-- </li>
        </ul> -->
        </address>
      </div>
    </div>
    <hr />
    <p class="text-center">
      Made by Kodetica Team with ❤️
      <br />
      Copyright © {{ now.Format "2006" }} Kodetica. All Rights Reserved.
    </p>
  </div>
</div>
