{{ define "main" }}
<div id="home">
  <div class="container-fluid pt-2">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Elit ullamcorper
      dignissim cras tincidunt. Rhoncus est pellentesque elit ullamcorper
      dignissim cras tincidunt lobortis. Nec feugiat nisl pretium fusce id velit
      ut tortor pretium. Sed vulputate mi sit amet mauris commodo quis.
      Pellentesque habitant morbi tristique senectus et netus. Est placerat in
      egestas erat imperdiet. In hendrerit gravida rutrum quisque non tellus
      orci ac auctor. Diam vel quam elementum pulvinar etiam non. Orci dapibus
      ultrices in iaculis nunc sed augue. Ac orci phasellus egestas tellus
      rutrum. Integer quis auctor elit sed vulputate mi sit amet mauris.
      Ultrices vitae auctor eu augue ut lectus arcu bibendum at. At tellus at
      urna condimentum mattis pellentesque id nibh tortor. Vel fringilla est
      ullamcorper eget nulla. Ut eu sem integer vitae justo eget magna fermentum
      iaculis. Enim eu turpis egestas pretium aenean pharetra.
    </p>
  </div>
</div>
{{ end }}
